.activity {
  display: grid;
  grid-template-columns: 50px auto;
  border-bottom: 1px solid #e8e8e8;
  margin-top: 15px;
}

.activity:last-child {
  border: none;
}

@media only screen and (max-width: 992px) {
  .activity {
    grid-template-columns: 10% 90%;
  }
}
@media only screen and (max-width: 768px) {
  .activity {
    grid-template-columns: 10% 90%;
  }
}
@media only screen and (max-width: 568px) {
  .activity {
    grid-template-columns: 40px 83%;
  }
}
.activity-image {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 100%;
}
.activity-content-title {
  font-size: small;
  margin-bottom: 10px;
  color: #474747;
  word-break: break-all;
}

.activity-content-time-ago {
  font-size: x-small;
  color: #9b9b9b;
  margin-bottom: 15px;
}
