html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1;
}

.content {
  display: grid;
  grid-template-columns: 67% 33%;
  column-gap: 20px;
}
.app {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .content {
    grid-template-columns: auto;
  }
}
.primary-content,
.secondary-content {
  display: grid;
  grid-template-rows: auto;
  row-gap: 15px;
}
.secondary-content {
  max-height: 100px;
}

.projects-section {
  display: grid;
  grid-template-columns: auto auto auto;
}

.padding-content {
  min-height: 100%;
  padding: 0 20px;
}
.medium-padding-content {
  padding: 30px;
  margin-top: -30px;
}
.apexcharts-legend {
  display: grid !important;
  grid-template-columns: auto auto auto;
  align-self: start;
  grid-column-gap: 5px;
}

@media only screen and (max-width: 1200px) {
  .content {
    grid-template-columns: auto;
  }
  .projects-section {
    grid-template-columns: auto auto auto;
  }
  .medium-padding-content {
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: -3%;
  }
  .count-tag {
    position: relative;
    justify-self: center;
    flex-basis: 50%;
  }
  .apexcharts-legend {
    display: grid !important;
    grid-template-columns: auto auto auto;
    align-self: start;
    grid-column-gap: 130px;
  }
}
@media only screen and (max-width: 992px) {
  .projects-section {
    grid-template-columns: auto auto;
  }
  .medium-padding-content {
    padding: 30px;
  }
  .apexcharts-legend {
    grid-column-gap: 160px;
  }
}
@media only screen and (max-width: 768px) {
  .apexcharts-legend {
    grid-column-gap: 100px;
  }
}
@media only screen and (max-width: 568px) {
  .projects-section {
    grid-template-columns: auto;
  }
  .apexcharts-legend {
    grid-column-gap: 25px;
  }
}

.count-tags {
  display: grid;
  grid-template-columns: auto auto auto;
  align-self: start;
  justify-items: center;
  grid-column-gap: 25px;
  margin-top: -20px;
}

.teams {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 10%;
}

.count-tag {
  position: relative;
  justify-self: center;
}

.count-tag:not(:last-child):after {
  position: absolute;
  content: '';
  left: calc(100% + 11px);
  width: 1px;
  height: 70%;
  top: 15%;
  background-color: #e8e8e8;
}

.card:last-child {
  margin-bottom: 20px;
}
