.count-tag {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  padding: auto;
}
.title {
  display: flex;
  justify-content: flex-end;
  justify-self: end;
  color: #9b9b9b;
  font-size: small;
}
.number {
  margin-top: 5px;
  display: flex;
  max-width: 90px;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: x-large;
  justify-self: end;
  word-break: break-all;
}
.number-remaining {
  color: #9b9b9b;
  font-size: medium;
}
.fix-text {
  max-width: 95%;
}
