.init-bar {
  background-color: white;
  height: auto;
  margin-bottom: 20px;
  width: 100%;
}
.dir-bar {
  display: flex;
  height: 40px;
  font-size: small;
  align-items: center;
  color: #9b9b9b;
}
.dir-bar .active {
  color: #4d4d4d;
}
.profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.resume-bar {
  align-items: center;
  min-height: 80px;
  display: grid;
  padding-bottom: 5px;
  column-gap: 20px;
  grid-template-columns: 67% 33%;
}

@media only screen and (max-width: 768px) {
  .resume-bar {
    grid-template-columns: auto;
    row-gap: 10px;
  }
}

.resume-bar-welcome {
  display: grid;
  grid-template-columns: 12% 85%;
  column-gap: 10px;
  line-height: 20px;
}

@media only screen and (max-width: 568px) {
  .resume-bar-welcome {
    grid-template-columns: auto;
    row-gap: 10px;
  }
}
.resume-bar-greeting {
  display: grid;
  row-gap: 10px;
}
.resume-bar-main-greeting {
  font-size: large;
  font-weight: 500;
}
.resume-bar-sub-greeting {
  color: #9b9b9b;
  font-size: small;
}
.resume-bar-count {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 25px;
  align-self: start;
}
